.wechat_apply_box {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 27px 0 22px;
    background: #FBFBFB;
    border-radius: 0px 0px 10px 10px;
}

.job_list2 {
    padding: 18px 0 0;
    border-bottom: none;
    background-color: #fff;
    position: relative;
    margin-bottom: 12px;
    border-radius: 10px;
}

.wechat_apply_box .wx_qrcode {
    background: url('../images/job/wechat.png') left center no-repeat;
    background-size: 17px 17px;
    padding-left: 22px;
    position: relative;
    cursor: pointer;
}

.wechat_apply_box .wx_qrcode .hover_img {
    display: none;
    position: absolute;
    z-index: 3;
    right: -110px;
    top: -12px;
    box-shadow: 0px 0px 6px 0px #dedede;
    width: 110px;
    height: 110px;
    float: right;
    background: #fff;
    text-align: center;
    margin-right: -5px;
}

.wechat_apply_box .wx_qrcode .hover_img img {
    width: 110px;
    height: 110px;
    margin-top: 0;
}

.wechat_apply_box .update_time {
    color: #CCCCCC;
    font-size: 12px;
}

.wechat_apply_box .oprate_btns {
    display: none;
}

.oprate_btns_hover .hand_in_resume,
.wechat_apply_box .oprate_btns .hand_in_resume {
    width: 90px;
    height: 30px;
    background: #022E46 url(../images/job/hand_in_resume.png) 12px center no-repeat;
    background-size: 16px 14px;
    border-radius: 15px;
    box-sizing: border-box;
    padding-left: 26px;
    margin-right: 13px;
    color: #fff;
    cursor: pointer;
}

.oprate_btns_hover .hand_in_resume:hover,
.wechat_apply_box .oprate_btns .hand_in_resume:hover {
    background: #022437 url(../images/job/hand_in_resume.png) 12px center no-repeat;
    background-size: 16px 14px;
}

.oprate_btns_hover .hand_in_resume.already_apply,
.wechat_apply_box .oprate_btns .hand_in_resume.already_apply {
    background: #66dcb9 url(../images/job/hand_in_resume.png) 12px center no-repeat !important;
    padding-left: 26px !important;
}

.wechat_apply_box .oprate_btns .hand_in_resume.already_apply {
    padding: 0;
}

.oprate_btns_hover .have_a_chat,
.wechat_apply_box .oprate_btns .have_a_chat {
    width: 90px;
    height: 30px;
    background: #00C48A url('../images/job/have_a_chat.png') 13px center no-repeat;
    background-size: 15px 13px;
    border-radius: 15px;
    box-sizing: border-box;
    padding-left: 28px;
    color: #fff;
    cursor: pointer;
}

.oprate_btns_hover .have_a_chat:hover,
.wechat_apply_box .oprate_btns .have_a_chat:hover {
    background: #00AE7A url('../images/job/have_a_chat.png') 13px center no-repeat;
    background-size: 15px 13px;
}

.job_welfare_margin {
    width: 100%;
    margin-top: 0;
    box-sizing: border-box;
    padding: 7px 110px 7px 22px;
}

.job_salary {
    line-height: 22px;
    box-sizing: border-box;
    padding-left: 22px;
}

.job_welfare span {
    display: inline-block;
    border: none;
    color: #757575;
    padding: 6px 8px 4px;
    margin-right: 5px;
    font-size: 12px;
    background: #F6F6F8;
    border-radius: 4px;
}

.job_title_line {
    display: flex;
    align-items: center;
    justify-content: start;
}

.job_title .job_title_line .job_title_new {
    display: inline-block;
    max-width: 60%;
    margin-right: 2%;
    color: #212121;
    font-size: 17px;
}

.job_title .job_title_line .job_title_new.top {
    color: #FF342E;
}

.job_title .job_title_line .job_title_new:hover {
    color: #00C48A;
}

.job_title .job_title_line .wage_text_new {
    display: inline-block;
    width: 30%;
    color: #FF342E;
    font-size: 15px;
}

.job_text {
    width: 55%;
    cursor: pointer;
}

.company {
    width: 45%;
    box-sizing: border-box;
    padding-left: 2%;
    position: relative;
    float: left;
}

.company .company_avator {
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 30px;
    top: 0;
    border-radius: 10px;
}

.job_text .line1 {
    box-sizing: border-box;
    padding: 0 10px 5px 22px;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.job_list2 .l_chk {
    position: initial;
    margin-right: 8px;
}

.job_list2 .job_title {
    margin-bottom: 0;
    padding-right: 0;
    width: calc(100% - 21px);
    line-height: 22px;
}

.job_list2 .job_title.emergency {
    padding-left: 23px;
    background: url(../images/job_right_icon.png) 0 1px no-repeat;
}

/* 当复选框选中时，改变背景色 */
.job_list2 .l_chk:checked {
    background: #00C48A;
}

.job_box_internal input[type="checkbox"]:checked+label:before {
    background-color: #00C48A;
}

.job_title .job_title_line .hot_job {
    display: inline-block;
    width: 30px;
    height: 17px;
    background: url('../images/job/hot.png') left center no-repeat;
    background-size: 100% 100%;
    margin-right: 5px;
}

.job_welfare_tag {
    cursor: pointer;
}

.job_box_internal {
    position: relative;
}

.job_box_internal .hover_site_a_seat {
    position: absolute;
    top: 50px;
    left: 20px;
    width: 55%;
    height: 40px;
    cursor: pointer;
}

.job_text:hover .job_list_hover,
.job_box_internal .hover_site_a_seat:hover+.job_text .job_list_hover {
    display: block;
}

.job_text:hover .job_title_new,
.job_box_internal .hover_site_a_seat:hover+.job_text .job_title_new {
    color: #00C48A !important;
}

.job_welfare span {
    display: inline-block;
    border: none;
    color: #757575;
    padding: 6px 8px 4px;
    margin-right: 5px;
    font-size: 12px;
    background: #F6F6F8;
    border-radius: 4px;
    margin-bottom: 5px;
}

.company_title,
.company_title a {
    color: #666;
    font-size: 14px;
    line-height: 22px;
}

.company_title {
    margin-bottom: 5px;
}

.company_title.j {
    margin-bottom: 0;
}

.company .company_span {
    position: relative;
    margin-right: 15px;
}

.company .company_span::before {
    content: '';
    width: 1px;
    height: 7px;
    position: absolute;
    right: -10px;
    top: 4px;
    background: #EEEEEE;
}

.company .company_span:last-child::before {
    content: '';
    width: 0px;
    height: 0px;
}

.job_salary span::after {
    content: '';
    width: 1px;
    height: 7px;
    position: absolute;
    right: -10px;
    top: 4px;
    background: #eeeeee;
}

.job_salary span {
    font-size: 12px;
    color: #666666;
    position: relative;
    margin-right: 18px;
}

.company .in_p {
    font-size: 12px;
    color: #757575;
    line-height: 22px;
}

.company_title .c_name {
    display: block;
    float: left;
    max-width: 300px;
    color: #333;
}

.company_title .c_name:hover {
    color: #00C48A;
}

.company_title .s_ic1 {
    float: left;
    width: 19px;
    height: 22px;
    background: url("../images/details_icon_1.png") 0 center no-repeat;
    margin-left: 5px;
}

.company_title .s_ic2 {
    float: left;
    width: 15px;
    height: 22px;
    margin-left: 5px;
}

.job_list2:hover {
    background: #fff;
    box-shadow: 0px 0px 11px 2px rgb(197 205 216 / 44%);
}

.job_list2:hover .wechat_apply_box .oprate_btns {
    display: block;
}

.job_list2:hover .wechat_apply_box .update_time {
    display: none;
}

.hover_title {
    float: initial;
    position: relative;
}

.hover_title .fav_box {
    cursor: pointer;
    position: absolute;
    color: #333;
    bottom: -6px;
    right: 8px;
    font-size: 12px;
    background: url('../images/job/fav.png') left 4px no-repeat;
    background-size: 13px 13px;
    box-sizing: border-box;
    padding-left: 18px;
}

.hover_title .fav_box.active {
    background: url('../images/job/fav_checked.png') left 4px no-repeat;
    background-size: 13px 13px;
}

.hover_text1 {
    color: #333333;
    font-size: 18px;
    padding-bottom: 4px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hover_text1 .title {
    color: #333333;
    font-size: 18px;
    display: block;
    max-width: 53%;
}

.hover_text1 .title:hover {
    color: #00C48A;
}

.hover_title_box {
    padding: 10px 20px 18px;
    background: #F7F9FC;
    border-radius: 4px 4px 0 0;
}

.hover_text3 {
    color: #333333;
    font-size: 14px;
}

.job_duty {
    padding: 0 20px 15px;
}

.job_desc {
    font-size: 12px;
    color: #333;
    padding: 10px 0 4px;
}

.job_list2 .job_list_hover {
    width: 500px;
    position: absolute;
    right: -445px;
    top: -17px;
    background: #fff;
    box-shadow: 0px 0px 5px 5px #e8e8e8;
    display: none;
    z-index: 1;
    border-radius: 4px;
}

.job_list2 .job_title.job_title_active .job_title_new {
    color: #999999;
}

.operation {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px 0;
}

.operation input {
    margin-right: 6px;
}

.operation .all_checked {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: 50px;
}

.operation .operation_btn {
    margin-right: 10px;
    color: #666666;
    font-size: 14px;
    padding: 5px 13px;
    border: none;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
}

.operation .operation_btn:hover {
    color: #00AE7A;
    border: none;
}

.operation_wrapper {
    /* padding: 0 20px; */
    background: #fff;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.right_box2 {
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 0;
}

.right_box2_text {
    padding: 14px 14px;
    background: #fff;
    cursor: pointer;
}

.right_box2_text:last-child {
    border-radius: 0 0 10px 10px;
}

.right_box2_text .line1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right_box2_text .box2_text1 {
    font-size: 14px;
    color: #404c5b;
    padding-top: 0;
    display: block;
    max-width: 60%;
}

.right_box2_text .box2_text2 {
    font-size: 12px;
    color: #aeaeae;
    margin: 10px 0 0;
    max-width: 230px;
    height: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.right_box2_text .box2_text3 {
    font-size: 12px;
    color: #ff6600;
    padding-bottom: 0;
}

.right_box2_text:hover .box2_text1 {
    color: #00C48A;
}

.right_box2_text .box2_text2 a {
    font-size: 12px;
    color: #666666;
    cursor: pointer;
}

.right_box2_title {
    font-size: 16px;
    color: #333333;
    padding: 17px 13px 15px;
    border-bottom: 1px solid #f3f3f3;
    background: #fff;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
}

.wechat_job_serach {
    width: 100%;
    background: #fff url('../images/job/wechat_bg.png') right bottom no-repeat;
    background-size: 64px 52px;
    box-sizing: border-box;
    padding: 14px 26px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.wechat_job_serach .wechat_qrcode_img {
    width: 90px;
    height: 90px;
}

.wechat_job_serach .wechat_qrcode_img img {
    display: block;
    width: 100%;
    height: 100%;
}

.wechat_job_serach .wechat_warn_text {
    color: #333;
    font-size: 14px;
    margin-left: 13px;
}

.wechat_job_serach .wechat_warn_text p {
    margin-bottom: 10px;
}

.login_wrapper {
    position: relative;
    padding: 0 14px;
}

.login_wrapper .login_title {
    text-align: center;
    font-size: 20px;
    color: #fff;
    padding: 23px 0 15px;
    font-weight: bold;
}

/* 登录 */
.login_wrapper .login_hd {
    padding: 12px 16px 0 12px;
}

.login_wrapper .login_hd .text_1 {
    position: relative;
}

.login_wrapper .login_hd .text_1 .code_tips {
    position: absolute;
    left: 26px;
    top: 0px;
    width: 110px;
    height: 24px;
    background-color: #fff;
    color: #777777;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    box-shadow: 0px 0px 3px 3px #f3f3f3;
    border-radius: 5px;
}

.login_wrapper .login_hd .text_1 .code_tips::before {
    content: '';
    border: 5px solid transparent;
    border-right: 5px solid #fff;
    position: absolute;
    left: -10px;
    top: 50%;
    margin-top: -5px;
}

.login_wrapper .scan_code {
    width: 48px;
    height: 48px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.login_wrapper .scan_bg_1 {
    background: url(../images/job/login_qrcode.png) no-repeat center center / 100% 100%;
}

.login_wrapper .scan_bg_2 {
    background: url(../images/job/login_qrcode.png) no-repeat center center / 100% 100%;
}

.login_wrapper .login_hd .text_2 {
    color: #1787fb;
    font-size: 13px;
    display: inline-block;
    margin-top: 9px;
    cursor: pointer;
}

/* .login_wrapper .login_hd .text_2:hover {
  text-decoration: underline;
} */
.login_wrapper .login_tab_box .tab_btns {
    color: #ababab;
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.login_wrapper .login_tab_box .tab_btns .btn_item {
    display: inline-block;
    margin: 0;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    color: #666;
}

.login_wrapper .login_tab_box .tab_btns .text_2 {
    font-size: 12px;
    color: #666;
    cursor: pointer;
}

.login_wrapper .code_box {
    text-align: center;
    padding: 0 0 19px;
}

.login_wrapper .code_box .text_1 {
    margin: 0px 0 20px;
    color: #232323;
    font-size: 16px;
}

.login_wrapper .code_box .code_img {
    width: 155px;
    height: 155px;
    margin: 0 auto 12px;
}

.login_wrapper .code_box .code_img img {
    width: 100%;
    height: 100%;
}

.login_wrapper .code_box .text_2 {
    color: #777777;
    font-size: 14px;
}

.login_tab_box .tab_btns .btn_item_active {
    color: #232323;
    font-weight: bold;
}

.login_tab_box .tab_btns .btn_item::after {
    content: "";
    width: 100%;
    height: 2px;
    background: #1787fb;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.login_tab_box .tab_btns .btn_item_active::after {
    display: block;
}

.login_tab_box .tab_con,
.login_tab_box .code_con {
    padding: 0 20px;
}

.login_tab_box .tab_con .user,
.login_tab_box .tab_con .pas,
.login_tab_box .code_con .user,
.login_tab_box .code_con .code {
    width: 100%;
    height: 40px;
    background: none;
    border: 1px solid #efefef;
    margin-bottom: 13px;
    padding-left: 10px;
    border-radius: 5px;
}

.login_tab_box .tab_con .user::placeholder,
.login_tab_box .tab_con .pas::placeholder,
.login_tab_box .code_con .user::placeholder,
.login_tab_box .code_con .code_ipt .code::placeholder {
    color: #CCC4CC;
}

.login_tab_box .code_con .code_ipt {
    border: 1px solid #ffffff;
    margin-bottom: 13px;
    position: relative;
    height: 35px;
    border-radius: 5px;
}

.login_tab_box .code_con .code {
    margin-bottom: 0;
    border: none;
    height: 38px;
    width: 62%;
}

.login_tab_box .code_con .send_code {
    position: absolute;
    right: 0px;
    top: 7px;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 6px;
    color: #00C48A;
}

.login_tab_box .code_con .send_code::after {
    content: "";
    position: absolute;
    left: -6px;
    top: 50%;
    width: 1px;
    height: 20px;
    margin-top: -10px;
    background-color: #e6e8ec;
}

.login_tab_box .index_login_btn {
    height: 35px;
    background-color: #00C48A;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px 20px 10px;
}

.login_tab_box .index_login_btn:hover {
    background: #00AE7A;
}

.login_tab_box .to_register {
    color: #01A172;
    font-size: 12px;
    text-align: center;
    margin-bottom: 25px;
}

.login_tab_box .to_register span {
    text-decoration: underline;
    cursor: pointer;
}

.login_tab_box .order_login {
    color: #c1c1c1;
    font-size: 13px;
    padding: 0 20px;
}

.login_tab_box .order_login .text_1 {
    line-height: 23px;
}

.login_tab_box .order_login .text_1 .img_1,
.login_tab_box .order_login .text_1 .img_2 {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 5px;
}

.login_tab_box .order_login .text_1 .img_1 {
    background: url(../images/QQ-icon.png) no-repeat center center / 14px 16px;
}

.login_tab_box .order_login .text_1 .img_2 {
    background: url(../images/WX-icon.png) no-repeat center center / 18px 16px;
}

.login_tab_box .order_login .text_2 {
    cursor: pointer;
    color: #c1c1c1;
    font-size: 13px;
    line-height: 23px;
}

.box1_right .login_success {
    height: 100%;
    padding: 20px 25px 25px;
}

.login_success .title {
    color: #333;
    font-size: 16px;
    margin-bottom: 20px;
}

.login_success .info_list .item {
    width: 65px;
    min-height: 64px;
    margin-bottom: 23px;
    margin-right: 11px;
    text-align: center;
    cursor: pointer;
}

.login_success .info_list .item .text {
    padding-top: 10px;
    margin-bottom: 6px;
}

.login_success .info_list .item .icon {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}

.login_success .info_list .item .icon_bg {
    background: #f7f7f7;
    border-radius: 50%;
}

.login_success .info_list .item .icon_bgimg_1 {
    background: url(../images/login_icon1.png) no-repeat center center / 14px 14px #f7f7f7;
}

.login_success .info_list .item .icon_bgimg_2 {
    background: url(../images/login_icon2.png) no-repeat center center / 15px 16px #f7f7f7;
}

.login_success .info_list .item .icon_bgimg_3 {
    background: url(../images/login_icon3.png) no-repeat center center / 16px 16px #f7f7f7;
}

.login_success .info_list .item .icon_bgimg_4 {
    background: url(../images/login_icon4.png) no-repeat center center / 16px 16px #f7f7f7;
}

.login_success .info_list .item .icon_bgimg_5 {
    background: url(../images/login_icon5.png) no-repeat center center / 16px 16px #f7f7f7;
}

.login_success .info_list .item .icon_color {
    color: #ff3600;
}

.login_success .btn {
    color: #fff;
    display: block;
    width: 100%;
    height: 37px;
    cursor: pointer;
    background-color: #1787fb;
    text-align: center;
    line-height: 37px;
    border-radius: 5px;
}

.login_success .btn:hover {
    background-color: #1767fb;
}

.login_tab_box .tab_con,
.login_tab_box .code_con {
    padding: 15px 20px 0;
}

.login_tab_box .tab_con .user,
.login_tab_box .tab_con .pas,
.login_tab_box .code_con .user,
.login_tab_box .code_con .code {
    width: 100%;
    height: 35px;
    background: #fff !important;
    border: 1px solid #fff;
    margin-bottom: 13px;
    padding-left: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.right_sidebar .box1_right {
    float: initial;
}

.right_sidebar .job_login_box {
    background: url('../images/job/login_bg.png') left center no-repeat;
    background-size: 100% 100%;
    margin-bottom: 10px;
}

.right_sidebar .login_tab_box {
    border: 1px solid rgba(255, 255, 255, 0.58);
    border-radius: 10px 10px 0px 0px;
    background: rgba(255, 255, 255, 0.4);
}

.filter_combo .filter_line .line_title.line_title_selected {
    color: #FF4200;
}

.filter_combo .filter_line .s_tag {
    display: block;
    float: left;
    font-size: 12px;
    color: #333333;
    height: 26px;
    line-height: 26px;
    padding: 0 22px 0 10px;
    border: 1px solid #FF4200;
    position: relative;
    margin-right: 10px;
    border-radius: 3px;
    background: #FFF7EE;
    margin-bottom: 12px !important;
}

.filter_combo .filter_line .s_tag:hover {
    border: 1px solid #FF4200;
}

.filter_combo .filter_line .remove {
    position: absolute;
    height: 14px;
    line-height: 14px;
    background: url(../images/remove_icon_new.png) 0 1px no-repeat;
    background-size: 13px;
    padding-left: 18px;
    cursor: pointer;
    font-size: 12px;
    right: 0;
    top: 6px;
    color: #FF4200;
}

.filter_combo .filter_line .remove:hover {
    color: #FF4200;
}

.filter_combo {
    padding: 20px 18px 20px 18px;
    background-color: #ffffff;
    border-radius: 10px;
}

.content_box2 {
    border-radius: 10px;
}

.content_box3 {
    margin-top: 10px;
}

.box2_nav {
    border-radius: 10px;
}

.box2_nav .tab {
    border-radius: 10px;
}

.jobslist-login-layer .tip-block .btn_free_registration {
    display: block;
    width: 155px;
    height: 36px;
    line-height: 36px;
    padding: 0;
    text-align: center;
    border-radius: 25px;
    margin: 0 auto;
    background: #00C48A;
}

.jobslist-login-layer .tip-block .btn_free_registration:hover {
    background: #00AE7A;
}

.jobslist-login-layer .tip-block .btn_existing_account {
    margin: 0;
    background: transparent;
    color: #00C48A;
    text-decoration: revert;
}

.filter_selected {
    padding-top: 12px !important;
    margin-top: 20px !important;
}

.duty_list {
    color: #666;
    font-size: 12px;
    font-weight: normal;
    max-height: 190px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    word-break: break-all;
}

.duty_list li {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
    margin-bottom: 6px;
}

/* 微信扫码登录样式修改 */
iframe {
    width: 100%;
    height: 250px;
    border: none;
    /* 移除边框 */
}

.wx_dialog {
    border-radius: 15px;
}

.wx_dialog .el-dialog__header {
    border-radius: 15px;
}

.wx_dialog .el-dialog__body {
    padding: 0;
}


/* 分页器颜色 */
.pagination li.active,
.pagination li:hover {
    background: #00C48A;
    border-color: #00C48A;
}

/* 左侧职位列表 */
.left_sidebar {
    float: left;
    margin-right: 10px;
    width: 920px;
}

/* 对比职位 现已隐藏 */
.operation .operation_btn {
    margin-right: 10px;
    color: #b8b8b8;
    font-size: 14px;
    padding: 5px 13px;
    border: 1px solid #e2e2e2;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
}

.operation .operation_btn:hover {
    border: 1px #B4B4B4 solid;
}

.operation_wrapper {
    background: #fff;
}

.operation input {
    margin-right: 12px;
}

.operation .operation_btn_active {
    background: #1787fb;
    color: #fff;
    border: none;
}

/* 职位列表未登录状态遮罩 */

.jobslist-login-layer {
    width: 100%;
    height: 580px;
    background: url(../images/223.jpg) no-repeat;
    background-size: 100% 100%;
}

.jobslist-login-layer .tip-block {
    height: 160px;
    text-align: center;
    font-size: 22px;
    margin: 0 auto;
    padding-top: 140px;
}

.jobslist-login-layer .tip-block .tip-block-title p {
    padding-bottom: 15px;
}

.jobslist-login-layer .tip-block .tip-block-title .small {
    font-size: 16px;
    color: #666;
}

.jobslist-login-layer .tip-block .tip-block-title .middle {
    color: #333;
    font-weight: bold;
}

.jobslist-login-layer .tip-block .tip-block-title .large {
    font-size: 40px;
}

.jobslist-login-layer .tip-block .btn_inline {
    font-size: 14px;
}

.jobslist-login-layer .tip-block .tip_block_qr {
    width: 130px;
    height: 130px;
    margin: 0 auto 5px;
}

.jobslist-login-layer .tip-block .tip_block_qr .tip_qr {
    width: 130px;
    height: 130px;
}

.jobslist-login-layer .tip-block .tip_qr_txt {
    text-align: center;
    font-size: 14px;
    color: #666;
    padding-bottom: 20px;
}

/* 职位置顶标签 */
.topping_img {
    position: absolute;
    right: 0;
    top: 0;
}

.resume_diagnosis {
    width: 100%;
    height: 80px;
    background: url('../images/job_list_diagnosis_bg.png') no-repeat;
    background-size: 100% 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume_diagnosis .btn {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    width: 158px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    border-radius: 4px;
    background: linear-gradient(180deg, #00C48A, #44EF98);
    box-shadow: 0 4px #04AD7B;
    transition: all 0.3s;
    position: relative;
    padding-right: 10px;
  }
  .resume_diagnosis .btn::after{
    content: '';
    position: absolute;
    top: 5px;
    right: 9px;
    width: 25px;
    height: 26px;
    background: url('../images/job_list_diagnosis_arrow.png') no-repeat;
    background-size: 100% 100%;
  }
  .resume_diagnosis .btn:hover {
    box-shadow: 0 2px #04AD7B;
    transform: translateY(2px);
  }